name: Test

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/**'
      - '**/*.md'
      - '.editorconfig'
      - '.markdownlint.json'
      - '.yamllint'
      - 'Makefile'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/**'
      - '**/*.md'
      - '.editorconfig'
      - '.markdownlint.json'
      - '.yamllint'
      - 'Makefile'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 'lts/*'

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.x'

      - name: Install markdownlint
        run: npm install -g markdownlint-cli

      - name: Install Python packages
        run: |
          pip install zizmor
          pip install yamllint

      - name: Install editorconfig-checker
        run: npm install -g editorconfig-checker

      - name: Run tests
        run: make test
